*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
}

/*Scroll personalizado*/
body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: #ffae6a;
    border-radius: 5px;
}

body::-webkit-scrollbar-track{
    background-color: #666666;
}

.container{
    position: absolute;
    background-color: #ff8243;
    background-size: 100%;
    background-position: center;
    margin-top: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
    text-align: left;
    opacity:  .85;
    box-shadow: 2px 2px 2px black;
}

.text-about-me {
    position: inherit;
    text-align: left;
    padding: 0%;
    margin: 100px;
    margin-left: 250px;
    margin-right: 55%;
}

.text-about-me h1{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.text-about-me p{
    margin-top: 10px;
    color: white;
    font-size: large;
    text-align: justify;
    text-shadow: 1px 1px 1px black;
}

.labores-sociales{
    margin-top: 14%;
    margin-left: 750px;
    text-align: center;
}

.labores-sociales h1{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.btn-labores {
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #874421;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.btn-labores:hover {
    background-color: #9a5833;
  }

.btn-labores:active {
    background-color: #713112;
  }

.container-youtube{
    text-align: center;
    padding-bottom: 20px;
    border-style: dashed;
    border-color: #ff8243;
    border-left: white;
    border-right: white;
    border-radius: 5px;
    border-width: 5px;
    margin-top: 42%;
    height: auto;
}

.container-youtube h1{
    margin-top: 45px;
}

.container-youtube iframe{
    margin-top: 2%;
    border-radius: 15px;
    margin-bottom: 45px;
    box-shadow: 2px 2px 5px black;
}

.cabecera{
    background-color: white;
    height: 110px;
    opacity: .9;
    box-shadow: 0 5px 5px black; 
}

.cabecera img{
    width: 100px;
    padding: 30px;
}

nav{
    position: relative;
    text-align: right;
    margin-right: 25px;
    top: -80px;    
}

.menu li{
    display: inline-block;
    position: relative;
    border-radius: 10px;
    
}

.menu li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.menu li a:hover{
    position: relative;
    color: #ff8243;
    cursor: pointer;
}

.container-1{
    margin: auto;
    margin-top: 50px;
    background-color: white;
    opacity: .9;
    width: 800px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.container-1 iframe{
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.map{
    margin-top: 40px;
    text-align: center;
    opacity: .9;
}

.map h1{
    margin-top: 30px;
}
.map iframe{
    margin-top: 15px;
}

/*Galería*/
.container-galeria h1{
    margin-top: 560px;
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

.container-galeria1{
    margin-top: 300px;
    text-align: center;
}
div.galeria{
    margin: 15px 70px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 350px;
}

div.galeria img{
    width: 100%;
    height: auto;
}

div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

.animado{
    opacity: 0;
    transition: all .5s;
}

.container_labores_sociales{
    margin: auto;
    margin-top: 50px;
    background-color: white;
    opacity: .8;
    width: 800px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.container_labores_sociales img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color: #9a5833;
    opacity: .8;
}

footer p{
    margin-top: 10px;
    padding: 30px;
}